
/*text color*/

.green{
    color:#41D3BD;
}

.white{
    color:#FFFFF2;
}

.orange{
    color:#FDAB4A;
}

.black{
    color: #170312;
}

/*bgc*/

.bg_green{
    background-color:#41D3BD;
}

.bg_white{
    background-color:#FFFFF2;
}

.bg_orange{
    background-color:#FDAB4A;
}

.bg_black{
    background-color: #170312;
}
/*font_size*/

.sm_font{
    padding: 6px 0px 6px 0px;
    font-size: 20px;
}

.ssm_font{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 7px;
}
/*back*/
.back{
    display: flex;
}

.hint{
    letter-spacing: 5px;
    font-family: sans-serif;
    font-weight: 400;
}

/*choose*/
.choose{
    margin-top: 110px;
}

.row{
    margin-top: 50px;
    margin-left: 300px;
    width: 70%;
    display: flex;
    margin-bottom: 50px;
}

.por{
    border: 1px solid #41D3BD;
}

.res{
    border: 1px solid #FFFFF2;
}

.soc{
    border: 1px solid #FDAB4A;
}

.box{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    letter-spacing: 10px;
}


/*content*/
.content{
    padding-left: 50px;
}

.opacity{
    opacity: 0%;
}


@media(max-width:500px){
    body{
        margin: 0;
    }
    /*font_size*/

.sm_font{
    padding: 6px 0px 6px 0px;
    font-size: 20px;
}

.ssm_font{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 7px;
}
/*back*/
.back{
    display: flex;
}

.hint{
    letter-spacing: 5px;
    font-family: sans-serif;
    font-weight: 400;
}

/*choose*/
.choose{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    margin-top: 30px;
    margin-left: auto;
    width: 80%;
    flex-direction: column;
    margin-bottom: 50px;
}

.por{
    border: 1px solid #41D3BD;
}

.res{
    border: 1px solid #FFFFF2;
}

.soc{
    border: 1px solid #FDAB4A;
}

.box{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    letter-spacing: 10px;
}


/*content*/
.content{
    padding: 0;
}

.opacity{
    opacity: 100%;
}
}
