body{
    margin: 0;
}

.mylink{
    cursor: pointer;
}

/*text color*/
.green{
    color:#41D3BD;
}

.white{
    color:#FFFFF2;
}

.orange{
    color:#FDAB4A;
}

.black{
    color: #170312;
}

/*bgc*/
.bg_fff{
    background-color: #fff;
}

.bg_green{
    background-color:#41D3BD;
}

.bg_white{
    background-color:#FFFFF2;
}

.bg_orange{
    background-color:#FDAB4A;
}

.bg_black{
    background-color: #170312;
}

/*font_size*/
.lg_font{
    font-size: 20px;
}

.mid_font{
    font-size: 17px;
}

.sm_font{
    font-size: 14px;
}

/*hot_zone*/
.hot_zone{
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}

.dot{
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

.title{
    margin-top: 20px;
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 40px;
}

.subtitle{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 32px;
}

.arrow{
    margin-top: 50px;
    text-align: center;
}

/*row_col*/
.row{
    margin-top: 150px;
    display: flex;
    width: 100%;
}

.col-lg-7{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-lg-5{
    width: 50%;
}

.col-l{
    text-align: left;
}

.col-r{
    text-align: right;
}

.pic{
    width: 60%;
}

.first{
    margin-right: auto;
}

/*introduction*/
.introduction{

}

.introduction_title{
    letter-spacing: 5px;
    font-family: sans-serif;
}

.introduction_content{
    width: 300px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 30px;
    font-family: sans-serif;
}

.introduction_ex{
    width: 300px;
    font-weight: 300;
    opacity: 50%;
    letter-spacing: 3px;
}

/*btn*/
.btn{
    margin-left: auto;
    margin-right: auto;
    padding: 70px 70px 0px 70px;
    border: 1px solid #41D3BD;
    border-radius: 200px 200px 0 0;
    display: flex;
    flex-direction: column;
    transition-duration: 1s;
}


.btn_content{
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
    padding: 0px 20px 30px 20px;
    margin: 0;
    letter-spacing: 3px;
    transition-duration: 1s;
}

@media(max-width:500px){
    /*hot_zone*/
.hot_zone{
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}

.dot{
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

.title{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 40px;
}

.subtitle{
    font-size: 5px;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 20px;
}

.arrow{
    margin-top: 50px;
    text-align: center;
}

/*row_col*/
.row{
    margin-top: 50px;
    flex-direction: column-reverse;
    width: 100%;
}

.row_reverse{
    margin-top: 50px;
    flex-direction: column;
}

.col-lg-7{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    justify-content: center;
}

.col-lg-5{
    width: 100%;
}

.col-l{
    text-align: l;
}

.col-r{
    text-align: right;
}

.pic{
    width: 60%;
}

.first{
    margin-right: auto;
}

/*introduction*/
.introduction{

}

.introduction_title{
    letter-spacing: 5px;
    font-family: sans-serif;
}

.introduction_content{
    width: 300px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 30px;
    font-family: sans-serif;
}

.introduction_ex{
    width: 300px;
    font-weight: 300;
    opacity: 50%;
    letter-spacing: 3px;
}

/*btn*/
.btn{
    margin-left: auto;
    margin-right: auto;
    padding: 70px 70px 0px 70px;
    border: 1px solid #41D3BD;
    border-radius: 200px 200px 0 0;
    display: flex;
    flex-direction: column;
    transition-duration: 1s;
}


.btn_content{
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
    padding: 0px 20px 30px 20px;
    margin: 0;
    letter-spacing: 3px;
    transition-duration: 1s;
}
}
